body, p, h1, h2, ul, li {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}

* {
    box-sizing: border-box;
    width: 180px;
    padding: 20px;
}

/* MENU */

